# Use EXTRA-index so pip still checks the main Python registry for Flask
--extra-index-url https://download.pytorch.org/whl/cpu

flask
flask-cors
gunicorn
# These will now be found in the extra-index-url above
torch
torchvision
transformers
spacy
Pillow